@import "./reset";
@import "./keyframes";
@import "./mixins";
@import "./variables";
@import "./App.scss";
@import "./Error.scss";
@import "./Home.scss";
@import "./Pet.scss";
@import "./PetApplications.scss";
@import "./PetCard.scss";
@import "./PetContainer.scss";

body, html {
  height: 100%;

}

h1,
h2 {
  font-family: 'Fredoka One', cursive;
}

textarea {
  resize: none;
  font-family: inherit;
  width: 99%;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-title {
  align-self: flex-start;
  font-size: xx-large;
}

.form-subtitle {
  width: fit-content;
  font-size: x-large;
}

.input-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.submit-button {
  width: 100px;
}