@import "./reset";
@import "./keyframes";
@import "./mixins";
@import "./variables";
@import "./App.scss";
@import "./Error.scss";
@import "./Home.scss";
@import "./Pet.scss";
@import "./PetApplications.scss";
@import "./PetCard.scss";
@import "./PetContainer.scss";

body, html {
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

h1,
h2 {
  font-family: 'Fredoka One', cursive;
}

h3,
p,
label,
button,
textarea,
input,
::placeholder {
  font-family: inherit;
}

textarea {
  resize: none;
  width: 99%;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-title {
  align-self: flex-start;
  font-size: xx-large;
}

.form-subtitle {
  width: fit-content;
  font-size: x-large;
}

.input-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.submit-button {
  background-color: $darkPurple;
  color: $white;
  border: none;
  border-radius: 20px;
  padding: 10px;
  width: 100px;

    &:hover {
      cursor: pointer;
      transform: scale(1.05);
    }
}

.about-owner-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 1.9em;
  padding-right: 1.9em;
}

.single-pet-details-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: white;
  height: 80%;
  width: 50%;
  border-radius: 10px;
  box-shadow: 5px 5px 6px black;
  border-radius: 50px;
}

.pet-owner-nav-link:hover {
  color: $darkPurple;
  cursor: pointer;
}
.single-pet-owner-name {
  font-size: xx-large;
}
