@import '_variables.scss';

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  background-color: $darkPurple;
  color: white;
}