@import '_variables.scss';

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 75px;
  align-items: center;
  background-color: $darkPurple;
  color: white;
  font-size: x-large;
  padding: 0 20px;
}
