@import '_variables.scss';

.hero-banner {
  display: flex;
  flex-direction: column;
  background-color: $darkPurple;
  color: $white;
  height: 225px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.hero-banner-text {
  font-size: 60px;
  text-align: center;
  overflow-wrap: break-word;
  width: 700px;
}

.hero-image {
  border: none;
}

.rehome-button {
  background-color: transparent;
  color: $white;
  border: 1px solid $white;
  border-radius: 20px;
  padding: 10px;
  width: 170px;
  font-size: medium;

    &:hover {
      cursor: pointer;
      background-color: $white;
      color: $darkPurple;
    }
}
