@import '_variables.scss';

.pet-page-holder {
  background-color: $darkPurple;
  height: 100vh;

}

.pet-card-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

.about-owner-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 1.9em;
  padding-right: 1.9em;
}

.single-pet-details-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: white;
  height: 80%;
  width: 50%;
  border-radius: 10px;
  box-shadow: 5px 5px 6px black;
  border-radius: 50px;
}

.middle-o-card-container {
  display: flex;
  justify-content: space-around;
  height: 55%;
}

.light-pet-details {
  height: 50%;
}

.single-pet-name {
 font-size: xx-large;
}

.single-pet-gender,
.single-pet-type,
.single-pet-age {
  font-size: larger;
}

.single-pet-description {
  overflow: auto;
}

.pet-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  gap: 1em;
  max-width: 45%;
  height: 112.5%;
}

img {
  height: 330px;
  width: 270px;
  border: 2px solid black;
  border-radius: 3px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  height: 17%;
}

.view-app-button,
.submit-app-button {
  background-color: #57429d;
  color: white;
  border: none;
  border-radius: 20px;
  height: 40px;
  width: 200px;
}